<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Ajouter une note</h1>
    <form action="/note" method="<%= response ? 'PUT' : 'POST' %>">
      <div>
        <label for="title">Titre</label>
        <input
          name="title"
          type="text"
          defaultValue="<%= response ? response[0].title : '' %>"
        />
      </div>
      <br />
      <div>
        <label for="content">Contenu</label>
        <textarea
          defaultValue="<%= response ? response[0].content : '' %>"
          name="content"
        ></textarea>
      </div>
      <button type="submit">Sauvegarde</button>
    </form>
    <a href="/note">annuler</a>
  </body>
</html>
